@media screen and (max-width:1120px){
    .youtube-container {
        width: 100%;
        height: auto;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    
    
    .middle-section-container {
        display: none;
    }

    .action {
        display: none;
    }

    .card-container {
        height: auto;
        width: 48%;
        display: flex;
        flex-direction: column;
        row-gap: .8rem;
    }
}